:root{
    --color-black: #000000; 
    --color-white: #ffffff;
    --color-caption: #ff0000;
    --color-red: #610000;
    --color-yellow: #ffbb00;
    --color-gray: #B1B6B1;
    --font-text: "Pixelify Sans", sans-serif;
    --gradient: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .3));
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-text);
}

.navbar{
    background-color: var(--color-red);
}

.img-navbar{
    width: 150px;
    padding-bottom: 10%;
}

.navbar-toggler{
    box-shadow: none !important;
    border-color: var(--color-white);
    border-width: 2px;
}

.bi-filter-right{
    color: var(--color-white);
    font-size: 25px;
    font-weight: 900;
}

.nav-link{
    font-size: 20px;
    font-weight: 600;
    color: var(--color-white);
}

.nav-link:hover, .nav-link:focus{
    color: var(--color-black);
}

.hero-page{
    position: relative;
    top: 0;
    min-height: 100vh;
}

.container-1{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.container-1 h1{
    font-size: 50px;
    font-weight: 600;
}

.container-1 p{
    padding-inline: 150px;
    font-size: 20px;
}

.container-bg1{
    align-content: center;
    background-image: var(--gradient), url(../images/My\ Movie\ Studio\ -\ Início.png);
    color: var(--color-white);
    text-align: center;
}

.container-red{
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-red);
}

.carousel-about img{
    padding-left: 25%;
}

.carousel-about h4, .carousel-about p{
    color: var(--color-caption);
}

.container-yellow{
    align-items: center;
    background-color: var(--color-yellow);
    color: var(--color-black);
}

.carousel-character{
    padding-left: 25%;
}

.flex-column{
    text-align: center;
    align-content: center;
}

.container-gray{
    background-color: var(--color-gray);
    color: var(--color-white);
}

.container-bg2{
    align-items: center;
    background-image: var(--gradient), url(../images/Tela\ de\ Estúdios\ Demo.png);
    color: var(--color-white);
    text-align: center;
}

.card{
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
}

.card a{
    color: var(--color-white);
    text-decoration: none;
}

.card img{
    width: 10%;
    height: 10%;
}

.email{
    justify-content: center;
}
